/* SCREEN SIZE 1728 * 1117 */


/* define variables */
* {
  --blue: #42546B;
  --lightBlue: #A4ABB5;
  --white: #FFFDF8;
  --black: #000000;
  --red: #C24545;
  --green: #86A55D;
  font-family: 'Montserrat', sans-serif;

  /* reset margin and padding */
  margin: 0;
  padding: 0;
}

/* reset the purple underlined link thing */
a {
  text-decoration: none;
}

body {
  /* set the background image (blue filtered) */
  background-image: url("../images/background.png");
  background-size: cover;

  /* fixed screen size */
  width: 1728px;
  height: 1117px;
}

/* the header (page title, ◀ icon, etc...) */
header {
/* define the size of the header */
  height: 250px;
  width: 100%;

  /* spell for putting header elements inline */
  position: relative;
}

/* the back button, on the top left "◀" */
#backButton{
  color: var(--white);
  font-size: 75px;

  /* put ◀ on the left side */
  position: absolute;
  left: 162px;
  top: 50%;
  transform: translate(0, -50%);
}

/* the page title (in the header) */
#pageTitle{
  /* put the title in the center */
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
  /* width: 100%; */
}

/* h1: page title */
h1{
  text-align: center;
  color: var(--white);
  font-size: 94px;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);
}








