/* this part is only used for the map, so that it doesn't bother the others ;) */

/* the 2 bluelight dropdown menu */
#buildingAndFloors {
  /* put the dropdown menus on the right side */
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}


/* styling 2 bluelight dropdown menu buttons */
.mapDropdownBox {
  /* make them inline */
  float: right;
  /* visual style */
  height: 80px;
  width: 313px;
  line-height: 80px;
  background-color: var(--lightBlue);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);
}


/* a container for one dropdown box */
.dropdown {
  position: relative;
  display: inline-block;
  /* margin between 2 buttons */
  margin: 0 10px 0 10px;
}

/* the entire textstyle in the dropdown div */
.dropdown a {
  text-decoration: none;
  font-size: 32px;
  color: var(--white);
  /* text between 20px, padding left 35px, */
  padding: 25px 0 0 35px;
}

/* the triangle icon in the dropdown button, so that it's aligned on the right side :) */
.dropdownTriangle {
  /* border: black 1px solid; */
  position: absolute;
  top: 0px;
  right: 35px;
}

/* the content of dropdown menu itself, ig "Ground floor", "first floor" */
.dropdownContent {
  display: none;
  /* put the dropdown menu just underneath the buttons */
  position: absolute;
  top: 80px;
  width: 313px;
  background-color: var(--blue);
  border-radius: 20px;

  /* bc this cannot be defined in the <a> padding above :) */
  padding-bottom: 25px;
}

/* the inside of the dropdown menu, especially the texts */
.dropdownContent a {
  display: block;
}

/* make it appear when it's hovered */
.dropdown:hover .dropdownContent{
  display: block;
}



/* the entire part below the header */
#bodyContainer {
  display: flex;
  justify-content: flex-start;
}

/* the list of the map (on the left) */
#mapFacilityList {
  width: 407px;

  /* height = 1117 - 250px(header) = 867  */
  height: 867px;
  background-color: rgb(255, 255, 255, 0.7);
}

#searchBox {
    height: 71px;
    width: 339px;
    line-height: 71px;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    color: var(--black);
    background-color: var(--white);
    border-radius: 10px;
    border: 5px var(--lightBlue) solid;
    margin: 38px 34px 0px 34px;
    padding: 0 29px 0 29px;
}

/* make the list of the map look prettier */
.mapList {
  height: 71px;
  line-height: 71px;
  list-style: none;
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 10px;
  margin: 16px 34px 0px 34px;
  padding: 0 0 0 34px;
}

/* the container for the fullmap */
#mapContainer {
  padding: 50px;

}

/* for all svgs to aline in the same place*/
.mapImage{
  position: absolute;
}


#lightupStudyroom {
  opacity: 0;
}
