/* this part is only used for the map, so that it doesn't bother the others ;) */

/* the 2 bluelight dropdown menu */
#buildingAndFloors {
  /* put the dropdown menus on the right side */
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);
}

/* styling 2 bluelight dropdown menu buttons */
#mapDropdownBox {
    /* make them inline */
  float: right;
  height: 77px;
  width: 313px;
  line-height: 77px;
  font-size: 32px;
  color: var(--white);
  text-align: center;
  background-color: var(--lightBlue);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);
  margin: 0 10px 0 10px;
}

/* the part below the header */
#bodyContainer {
  display: flex;
  justify-content: flex-start;
}

/* the list of the map (on the left) */
#mapFacilityList {
  /* float: left; */
  width: 407px;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.7);
}

#searchBox {
    height: 71px;
    /* width: 339px; */
    line-height: 71px;
    list-style: none;
    font-size: 24px;
    font-weight: 500;
    color: var(--lightBlue);
    background-color: var(--white);
    border-radius: 10px;
    border: 5px var(--lightBlue) solid;
    margin: 38px 34px 0px 34px;
    padding: 0 0 0 29px;
}

/* make the list of the map look prettier */
.mapList li {
  height: 71px;
  line-height: 71px;
  list-style: none;
  font-size: 24px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--blue);
  border-radius: 10px;
  margin: 16px 34px 0px 34px;
  padding: 0 0 0 34px;
}

/* the container for the fullmap */
#mapContainer {
  padding: 50px;

}