
  h1{
    font-size: 80px;

  }

  /* the label text of the button "map" "facility availability" etc */
  .rounded-button a {
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
  }

.button-container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
}

/*adds the icon to CTA buttons, example - map icon in the  map button*/
.button-item img {
  width: 50%;
  height: 200%;

} 

.rounded-button {
  /* button size */
  height: 306px;
  width: 467px;
  border-radius: 40px;
  margin-bottom: 72px;
  background-color: #fffdf8;
  

  /* put this to justify the label text inside the buttons */
  position: relative;
}


/* icon sizing */
.resizable-image1 {
  width: 212px;
  height: 180px;
}
.resizable-image2 {
  width: 126px;
  height: 138px;
}
.resizable-image3 {
  width: 168px;
  height: 169px;
}
.resizable-image4 {
  width: 139px;
  height: 144px;
}
.resizable-image5 {
  width: 137px;
  height: 137px;
}
.resizable-image6 {
  width: 216px;
  height: 155px;
}

