/* KOSEI: deleted the first part bc css.css has the same thing, tf it doesn't have to be written here */


/* KOSEI: deleted this */
  /* #pageTitle{
  h1{
    text-align: center;
    color: var(--white);
    font-size: 94px;
    font-weight: bold;
    text-shadow: 0px 4px 4px rgb(0, 0, 0, 0.2);}
  } */

  /* KOSEI: redefine the font size of the title, bc it's got 2 lines and kinda too big */
  h1{
    font-size: 80px;

  }

  /* the label text of the button "map" "facility availability" etc */
  .rounded-button a {
    width: 100%;
    font-size: 34px;
    font-weight: bold;
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translate(-50%, 50%);
  }



/* .button-item {
  display: flex;
  place-items: center;
  flex-direction: column;
  align-items: center;
  
  background-color: #FFFDF8;
  color: #000;
  padding: 80px;
  text-align: center;
}  */

.button-container {
  display: flex;
  /* justify-content: center; */
  justify-content: space-evenly;
}

/* .button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); Three columns */
  /* grid-template-rows: repeat(2, 1fr); Two rows
  gap: 45px;
  width: 467px;
  height: 306px
} */

/* button {
  background-color: var(--white);
  color: var(--black);
  padding: 10px;
  border: none;
  cursor: pointer;
} */

/*adds the icon to CTA buttons, example - map icon in the  map button*/
.button-item img {
  width: 50%;
  height: 200%;
} 

.rounded-button {
  /* button size: from Figma prototype */
  height: 306px;
  width: 467px;
  border-radius: 40px;
  margin-bottom: 72px;
  background-color: #fffdf8;

  /* put this to justify the label text inside the buttons */
  position: relative;
  /* color: black;
  padding: 30% 80px;
  border: none;
  border-radius: 25px;
  cursor: pointer; */
}