#pageTitle {
    /* align the title to the right */
    
    transform: translate(0, -50%);
    text-align: right;
    
    /* 0px from the right edge */
    right: 30px;


    font-size: 80px;
    font-weight: bold;
}

/* change the font size of Anna rasumussen */
h1 {
    font-size: 70px;
}


#bigdiv {
    display: flex;
    /* border: green 6px solid ;  */
}

#leftdiv {
    padding-left: 220px;
    padding-bottom: 150px;
    /* border: red 5px solid; */
}

#rightdiv {
    padding-bottom: 150px;
    /* border: blue 5px solid; */
}

#box1 {
    width: 700px;
    height: 120px;
    background-color: var(--white);
    border-radius: 20px;
    text-align: center;
    margin-top: 65px;
    /* border: yellow 5px solid; */
    
}

#box2 {
    width: 600px;
    height: 700px;
    background-color: var(--white);
    border-radius: 20px;
    margin-left: 53px;
    /* border: pink 5px solid; */
}

h2 {
    color: var(--blue);
    font-family: 'Montserrat' sans-serif;
    font-size: 50px;
    font-weight: bold;
    margin-left: 30px;
    padding-top: 10px;
    text-decoration: underline;
}

ul {
    padding: 30px;
}
li {
    color: var(--black);
    font-family: 'Montserrat', sans-serif;
    font-size: 27px;
    font-weight: Medium;
    margin-left: 30px;
    margin-top: 15px;
}

.line-spacing {
    line-height: 1.4; /* You can adjust the value as needed */
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    text-align: left;
    padding-left: 20px;
    padding-top: 10px;
}
.red-text {
    color: #C24545;
    font-weight: bold;
  }
  
  .grey-text {
    color: #575757;
    font-size: 25px;
  }